
body {
  font-family: sans-serif;
  margin: auto;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.img-responsive {
  height: auto;
  width: 100%;
/* even more control with max-width */
  max-width: 720px;
}

#logo {
  position: relative;
  max-width: 30em;
  margin-top: -1.5em;
  overflow: hidden;
  padding-bottom: 4em;
}

/* Banner */

  #banner {
    padding: 0;
    background-image: url(../images/screenshot-01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
  }

    #banner:before {
      content: '';
      background: rgba(75, 75, 93, 0.65);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    #banner .inner {
      position: relative;
      padding-top: 10em;
      z-index: 10005;
      display: flex;
      justify-content: center;
    }

    #banner .inner img {
      max-width: 12em;
      padding: 0 2em 1.5em;
    }

    @media screen and (max-width: 516px) {
      #banner .inner img {
        padding-bottom: 1em;
      }
    }

    #banner h1 {
      font-size: 3.5em;
      font-weight: 400;
      color: #fff;
      line-height: 1em;
      margin: 0 0 1em 0;
      padding: 0;
    }

    #banner h3 {
      font-weight: 400;
      color: #fff;
      margin: 0;
      font-size: 1.5em;
    }

    #banner .icon {
      color: #6cc091;
      font-size: 2em;
    }

    #banner p {
      font-size: 1em;
      color: rgba(255, 255, 255, 0.55);
      margin-bottom: 1.75em;
    }

    #banner .flex {
      -ms-flex-pack: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto 4em auto;
    }

    #banner .flex div {
      border-right: 2px solid rgba(255, 255, 255, 0.2);
      padding: 0 8em;
    }

    #banner .flex div:last-child {
      border: none;
      padding-right: 0;
    }

    #banner .flex div:first-child {
      padding-left: 0;
    }

    #banner .flex div p {
      margin: 0;
    }